<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <% include common/styles %>
    <!-- NProgress -->
    <link href="/public/admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/public/admin/vendors/animate.css/animate.min.css" rel="stylesheet">


</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form action="/admin/login" method="POST">
                        <h1>Login Form</h1>
                        <% if(flash_message) { %>
                            <% for(let prop in flash_message) { %>
                                <% flash_message[prop].forEach(err => { %>
                                    <div class=" alert alert-<%= prop %>">
                                        <%= err %>
                                    </div>
                                <% }) %>
                            <% } %>
                        <% }  %>   
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" 
                            name="username"/>
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" 
                            name="password"/>
                        </div>
                        <div>
                            <!-- <a class="btn btn-default submit" href="/admin">Đăng nhập</a> -->
                            <button type="submit">đăng nhập</button>
                            <a class="reset_pass" href="#">Lost your password?</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">New to site?
                                <a href="#signup" class="to_register"> Create Account </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1>
                                    <i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form action="/admin/register" method="POST">
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" 
                            name="username" />
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Email" required="" 
                            name="email"/>
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" 
                            name="password"/>
                        </div>
                        <div>
                            <!-- <a class="btn btn-default submit" href="/admin">Submit</a> -->
                            <button type="submit">Đăng Ký</button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1>
                                    <i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>

</html>