<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <% include common/styles %>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <!-- top navigation -->
            <% include common/nav %>

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Form Elements</h3>
                        </div>
            
                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
            
            
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Form Design
                                <small>different form elements</small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Settings 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="close-link">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
            
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Decription</th>
                                        <th>Content</th>
                                        <th>Start Date</th>
                                        <th>Author</th>
                                        <!-- <th>Category</th> -->
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                            
                            
                                <tbody>
                                    <% articles.forEach(e => { %>
                                        <tr>
                                            <td><%= e.title %></td>
                                            <td><%= e.description %></td>
                                            <td><%- e.content %></td>
                                            <td><%= e.createdAt.toLocaleString() %></td>
                                            <td><%= e.author.username %></td>
                                           
                                            <td>
                                                <a href="#" class="btn btn-primary btn-xs">
                                                    <i class="fa fa-folder"></i> View </a>
                                                <a href="/admin/article/edit/<%= e._id %>" class="btn btn-info btn-xs">
                                                    <i class="fa fa-pencil"></i> Edit </a>
                                                <a href="/admin/article/delete/<%= e._id %>" class="btn btn-danger btn-xs">
                                                    <i class="fa fa-trash-o"></i> Delete </a>
                                            </td>
                                        </tr>
                                    <% }) %>

                                </tbody>
                            </table>
            
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->

            <% include common/footer %>
            <!-- /footer content -->
        </public/admin
    </div>

    <% include common/scripts %>
    <script src="/public/admin/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/public/admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/public/admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/public/admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/public/admin/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/public/admin/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/public/admin/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/public/admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/public/admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/public/admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/public/admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/public/admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/public/admin/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/public/admin/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/public/admin/vendors/pdfmake/build/vfs_fonts.js"></script>

</body>

</html>