 <!-- Bootstrap core JavaScript -->
 <script src="/public/client/vendor/jquery/jquery.min.js"></script>
 <script src="/public/client/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 <!-- Custom scripts for this template -->
 <script src="/public/client/js/clean-blog.min.js"></script>